* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #230845;
  color: white;
  font-family: Arial, sans-serif;
}
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 5rem;
  height: 5rem;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
a {
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
}
.opt > a:hover {
  padding: 0.5rem;
  text-decoration: underline;
  background: linear-gradient(to right, #7838b5, #720fc4, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: solid 2px white;
}
.round {
  display: flex;
  justify-content: center;
  height: 20vh;
  margin: 4rem 0rem;
}
.circle {
  width: 130px;
  height: 130px;
  border: 10px solid #63388e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  background: transparent;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro > span {
  font-size: 4rem;
  font-weight: bolder;
  color: white;
  letter-spacing: 0.3rem;
}
.obj {
  height: 20vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.role {
  font-size: 2rem;
  color: black;
  text-shadow: rgb(195, 181, 225) 0px 0px 10px;
}
.desc {
  color: whitesmoke;
  font-size: large;
  margin-top: 0.5rem;
  line-height: 2rem;
}
.info > button {
  padding: 0.7rem;
  border-radius: 0.6rem;
  border: none;
  font-size: larger;
  margin-right: 1rem;
  background: #9a53dd;
  color: white;
  transition: 1s;
}
.info > button:hover {
  background: linear-gradient(to right, #f75fff, #b87bfe);
  transform: scale(1.1);
  color: #000;
}
.social > button {
  margin: 2rem 0.5rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #9b08d1;
  transition: 0.5s;
}
.social > button:hover {
  border: none;
  box-shadow: #7405dc 0px 0px 15px;
  transform: rotateZ(30deg);
  background: #9a53dd;
  color: white;
}
.about {
  padding: 0px 5rem;
  height: 60rem;
  background-color: #000;
  text-align: center;
  margin: 4rem 0;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.about h2 {
  font-size: 3rem;
}

.title_about .line {
  display: block;
  width: 10rem; /* underline width */
  height: 0.2rem; /* underline thickness */
  background: linear-gradient(to right, #00c6ff, #0072ff); /* blue gradient */
  margin: 0 auto; /* center underline */
  border-radius: 2px; /* rounded edges */
  margin-bottom: 1rem;
}

.about_con {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  margin: 0rem 2rem;
  padding: 2rem;
  height: 65vh;
}
.about_con1,
.card-container {
  /* padding: 1rem 9rem; */
  display: flex;
  flex-direction: column;
  align-items: start;
  /* background-color: #363232; */
  height: 65vh;
  width: 46%;
}

.about_con1 > h3 {
  padding-top: 2rem;
  font-size: x-large;
}
.about_con1 > p {
  font-size: medium;
  line-height: 2rem;
  text-align: left;
  text-indent: 0;
  margin: 1rem;
}

.percent {
  /* background-color: #000; */
  width: 90%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}

.pre > h2 {
  font-size: XX-larger;
  background: linear-gradient(to right, #7838b5, #720fc4, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pre > span {
  font-size: small;
}
.pre > span:hover {
  background: linear-gradient(to right, #7838b5, #720fc4, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-container {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  /* margin: 2rem 0; */
}
.card {
  height: 4rem;
  /* background: linear-gradient(to right, #7900e9, #730fc49d, #3103e984); */
  border: 0.1rem double white;
  border-radius: 10px;
  padding: 2rem;
  width: 80%;
  box-shadow: 0 4px 20px rgba(246, 242, 242, 0.5);
  display: flex;
  flex-direction: row;
  transition: transform 0.3s;
}
.card_1 > i {
  font-size: 4rem;
  background: linear-gradient(to right, #7838b5, #720fc4, #0072ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card:hover {
  transform: scale(1.05);
}
.card_2 {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.card h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.card p {
  font-size: 1rem;
  text-align: left;
  text-indent: 0;
}
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
    margin-bottom: 2rem;
  }
}
